<div class="modal-header">
  <button type="button" class="modal-box-close">
    &times;
  </button>
  <h4 class="modal-title" style="color: #8895B4;">
    选择应用
  </h4>
</div>
<div class="modal-body" style="width:440px;height:280px;">
  <ul class="modal-app-title">
    <li class="add-app" data-id="{{id}}" data-env="{{env}}" data-domain="{{domain}}"><a href="javascript:;"><i class="iconfont icon-add"></i></a></li>
    {{#each data}}
    <li><a href="/applications/id/{{_id}}">{{name}}</a></li>
    {{/each}}
  </ul>
</div>
