{{> header}}
<div class="container" style="margin-top:70px;">
    <div class="row clearfix">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">api文档列表</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>文档标题</td>
                                <td>版本</td>
                                <td>项目编码</td>
                                <td>项目名称</td>
                                <td>创建时间</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{title}}</td>
                                <td>{{version}}</td>
                                <td>{{code}}</td>
                                <td>{{name}}</td>
                                <td>{{createdAt}}</td>
                                <td>{{link}}</td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>