{{> header}}
<style type="text/css">
.body-main{
  background-color: #f1f2f6;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="user-manager">
        <div class="user-header">
          <span class="user-count">{{total}} users</span>
          <a href="#" class="user-add iconfont icon-add" data-toggle="modal" data-target="#addUserModal">Add</a>
        </div>
        <div class="user-table">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Position</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
              <tr>
                <td><img src="./images/avatar.png" style="width:25px;height:25px" alt="avatar" class="img-circle"/>{{name}}</td>
                <td>{{mobile}}</td>
                <td><span class="label {{position}}">{{position}}</span></td>
                <td><a href="javascript:;" class="edit-user" data-id="{{_id}}"><i class="iconfont icon-bianji" style="font-size:12px;"></i>edit</a>&nbsp;&nbsp;<a href="#" class="del-user" data-id="{{_id}}"><i class="iconfont icon-shanchu" style="font-size:12px;"></i>delete</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 创建项目 -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/usrs" method="post" class="add-user-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          Add new user
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label style="width: 60px;">Position：</label>
          <select class="form-control" name="position" required>
            <option value="develop">develop</option>
            <option value="PM">PM</option>
            <option value="tester">tester</option>
          </select>
        </div>
        <div class="form-group">
          <label>Name：</label>
          <input type="text" class="form-control" placeholder="Name..." name="name" required/>
        </div>
        <div class="form-group">
          <label>Mobile：</label>
          <input type="text" class="form-control" placeholder="Mobile..." name="mobile" required/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-sm btn-primary" value="Add"/>
      </div>
    </div>
  </form>
  </div>
</div>
<script type="text/javascript" src="/javascripts/user.js"></script>
