{{> header}}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <a style="text-decoration: none;" href="javascript:;" onclick="window.history.go(-1)"><< 返回应用列表</a>
      <hr>
      <ul class="nav nav-sidebar">
        {{#each paths}}
          {{#each path_json}}
          <li><a href="#{{@key}}" title="{{@key}}">{{@key}}</a></li>
          {{/each}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="page-header">
        API接口文档
      </h3>

      <div class="row">
        {{#unless paths}}
          该应用未导入API接口，现在<a data-toggle="modal" data-target="#importApiModal" href="#">上传API接口文件</a>
        {{else}}
          {{#each document}}
            <div class="jumbotron placeholders">
             <h3>{{info.title}}</h3>
             <p>version: {{info.version}}</p>
             <p>{{info.description}}</p>
             <p>{{info.contact.name}}</p>
             <p>{{info.contact.email}}</p>
             <p>{{info.license.name}}</p>
             <p>{{info.license.url}}</p>
             <p>{{info.basePath}}</p>
             <p>{{info.host}}</p>
            </div>
          {{/each}}
          {{#each paths}}
            {{#each path_json}}
            <h2 id="{{@key}}">{{@key}}</h2>
              {{#each this}}
                  <form class="path-form" data-path="{{@../key}}" data-method="{{@key}}">
                  <h3>{{@key}}</h3>
                  {{#if parameters}}
                    <h5>Parameters</h5>
                    {{#each parameters}}
                      <div class="form-group">
                      <label>{{this.name}}:</label>
                      {{#equals this.in "body"}}
                        <textarea class="form-control" rows="3" style="width: 300px;" name="{{this.name}}" placeholder="{{#if this.required}}required{{/if}}" {{#if this.required}}required{{/if}}></textarea>
                      {{else}}
                        <input type="text" class="form-control" style="width: 300px;" placeholder="{{#if this.required}}required{{/if}}" {{#if this.required}}required{{/if}}>
                      {{/equals}}
                      </div>
                    {{/each}}
                  {{/if}}
                  <p>Test this endpoint</p>
                  <input type="submit" class="btn btn-primary endpoint" value="Try"/>
                  <h5>Response Messages</h5>
                  {{#each responses}}
                  {{@key}} - {{description}}<br>
                  {{/each}}
                  <hr>
                </form>
              {{/each}}
            {{/each}}
          {{/each}}
        {{/unless}}
      </div>
    </div>
  </div>

  <!-- 创建项目 -->
  <div class="modal fade" id="importApiModal" tabindex="-1" role="dialog" aria-labelledby="importApiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/codegen/upload" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="importApiModalLabel">
            上传API接口文件
          </h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_id" value="{{aid}}">
           接口文件：<input type="file" name="apifile" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            上传
          </button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

</div>
<link href="../stylesheets/dashboard.css" rel="stylesheet">
