{{> header}}
<div class="container-fluid" data-pid="{{project.env_json}}">
  <div class="row">
    <div class="application-manager">
    <div class="col-sm-3 col-md-2 sidebar">
      <a style="text-decoration: none;" href="../../projects" ><i class="iconfont icon-fanhui"></i> 返回应用列表</a>
      <hr>
      <ul class="nav nav-sidebar">
        <span style="margin-left: 20px;color: #8c8c8c;">API REFERENCE</span>
        {{#each nav}}
        <li>
          <a href="#{{name}}" class="nav-header collapsed" data-toggle="collapse">{{name}}<span class="pull-right iconfont icon-xiangxia" style="font-size: 12px;"></span></a>
          <ul id="{{name}}" class="nav nav-list collapse">
            {{#each key}}
              <li><a href="#{{../name}}-{{this}}" title="{{this}}" style="margin-left: 20px;">{{this}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        {{#unless paths}}
          该应用未导入API接口，现在<a data-toggle="modal" data-target="#importApiModal" href="#">上传API接口文件</a>
        {{else}}
          {{#each document}}
            <div class="app-header" data-aid="{{../app._id}}" data-domain="{{../app.domain}}">
             <h3>{{info.title}}</h3>
             <p>version: {{info.version}}</p>
             <p>{{info.description}}</p>
             <p>{{info.contact.name}}</p>
             <p>{{info.contact.email}}</p>
             <p>{{info.license.name}}</p>
             <p>{{info.license.url}}</p>
             <p>{{basePath}}</p>
             <p>{{host}}</p>
             <a href="/edit/#/?appId={{../app._id}}" target="_blank">编辑API接口</a>
             <a href="/logs?appId={{../app._id}}" target="_blank">API修改日志</a>
             <a data-toggle="modal" data-target="#updateImportApiModal" href="#">重新上传</a>
            </div>
          {{/each}}

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <label>填写Cookie:<input class="form-control" type="text" name="cookie" style="width: 500px;" /></label> <button class="btn btn-sm btn-primary" id="save-cookie">保存</button>
                </div>
            <div class="col-sm-12 col-md-12 paths">
              {{#each paths}}
                {{#each path_json}}
                <ul>
                  {{#each this}}
                    <li id="{{tags}}" style="list-style: none;">
                      <div class="row">
                        <div class="col-sm-6 col-md-6 paths">
                          <h2 id="{{tags}}-{{summary}}" class="operation-title" >{{summary}}</h2>
                          <form class="path-form" data-path="{{@../key}}" data-summary="{{summary}}" data-method="{{@key}}">
                          <h3 class="{{@key}}">
                            <span class="http_method">
                                <a href="#{{summary}}">{{@key}}</a>
                            </span>
                            <span class="path">
                                <a href="#{{summary}}">{{@../key}}</a>
                            </span>
                          </h3>
                          <h6 id="{{description}}">{{description}}</h6>
                          {{#if parameters}}
                            <h5>Parameters</h5>

                            {{#each parameters}}
                              <div class="form-group" data-schema="{{json schema}}">
                              <label>{{name}}</label></br>
                              {{#if schema.$ref}}
                                  {{#each definition.properties}}
                                      {{@key}}:<input type="text" class="form-control" style="width: 300px;" name="{{@key}}" placeholder="{{this.type}}"/>
                                  {{/each}}
                                <!--<textarea class="form-control" rows="3" style="width: 300px;" name="{{this.name}}" placeholder="{{#if this.required}}required{{/if}}" {{#if this.required}}required{{/if}}></textarea>-->
                              {{else}}
                                <input type="text" class="form-control" style="width: 300px;" name="{{this.name}}" placeholder="{{type}} {{#if this.required}}required{{/if}}" autocomplete="off" {{#if this.required}}required{{/if}}>
                                {{#equals (size ../parameters) 1}}<input type="checkbox" name="isMap"/><span>isMap</span>{{/equals}}
                              {{/if}}
                              </div>
                            {{/each}}
                          {{/if}}
                          <p class="operations">Test this endpoint</p>
                          <span >Consumer:</span>
                          <select name="contentType">
                            <option value=""></option>
                          {{#each consumes}}
                            <option value="{{this}}">{{this}}</option>
                          {{/each}}
                          </select>
                          <input type="submit" class="btn btn-sm btn-primary endpoint" value="Try"/>
                          <h5>Response Messages</h5>
                          {{#each responses}}
                            <p style="display:none;" data-t="{{json this}}"></p>
                            {{@key}} - {{description}}<br>
                          {{/each}}
                        </form>
                      </div>
                      <div class="col-sm-6 col-md-6 schemas">
                          <a class="show-samples" href="javascript:;" data-parameters="{{#if parameters}}{{json parameters}}{{/if}}" data-responses="{{#if responses}}{{json responses}}{{/if}}" >Show samples</a>
                          <br>
                          <div style="display:none;" class="samples">samples:<pre></pre></div>
                          <div style="display:none;" class="schemas">schemas:<pre></pre></div>
                      </div>
                    </div>
                    <hr style="margin-bottom: 0px;">
                  </li>
                  {{/each}}
                </ul>
                {{/each}}
              {{/each}}
            </div>
          </div>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 导入api文件 -->
<div class="modal fade" id="importApiModal" tabindex="-1" role="dialog" aria-labelledby="importApiModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/api/applications/importAPI" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="importApiModalLabel">
          导入API文件
        </h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="_id" value="{{app._id}}">
         接口文件：<input type="file" name="apifile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭
        </button>
        <button type="submit" class="btn btn-sm btn-primary">
          导入
        </button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<!-- 更新api -->
<div class="modal fade" id="updateImportApiModal" tabindex="-1" role="dialog" aria-labelledby="updateImportApiModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/api/applications/update-import-api" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="importApiModalLabel">
          重新导入API文件
        </h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="_id" value="{{app._id}}">
         接口文件：<input type="file" name="apifile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭
        </button>
        <button type="submit" class="btn btn-sm btn-primary">
          重新上传
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/application.js"></script>
