{{> header}}
<style type="text/css">

</style>
<div class="container-fluid">
  <div class="row">
    <div class="application-manager">
    <div class="col-sm-3 col-md-2 sidebar">
      <a style="text-decoration: none;" href="../projects" ><< 返回应用列表</a>
      <hr>
      <ul class="nav nav-sidebar">
        <span style="margin-left: 20px;color: #8c8c8c;">API REFERENCE</span>
        {{#each nav}}
        <li>
          <a href="#{{name}}" class="nav-header collapsed" data-toggle="collapse">{{name}}<span class="pull-right glyphicon glyphicon-chevron-down"></span></a>
          <ul id="{{name}}" class="nav nav-list collapse">
            {{#each key}}
              <li><a href="#{{this}}" title="{{this}}" style="margin-left: 20px;">{{this}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        {{#unless paths}}
          该应用未导入API接口，现在<a data-toggle="modal" data-target="#importApiModal" href="#">上传API接口文件</a>
        {{else}}
          {{#each document}}
            <div class="app-header" data-aid="{{applicationId}}">
             <h3>{{info.title}}</h3>
             <p>version: {{info.version}}</p>
             <p>{{info.description}}</p>
             <p>{{info.contact.name}}</p>
             <p>{{info.contact.email}}</p>
             <p>{{info.license.name}}</p>
             <p>{{info.license.url}}</p>
             <p>{{basePath}}</p>
             <p class="host" data-host="{{host}}">{{host}}</p>
            </div>
          {{/each}}
          <div class="row">
            <div class="col-sm-12 col-md-12 paths">
              {{#each paths}}
                {{#each path_json}}
                <ul>
                  {{#each this}}
                    <li id="{{tags}}" style="list-style: none;">
                      <div class="row">
                        <div class="col-sm-6 col-md-6 paths">
                          <h2 id="{{summary}}" class="operation-title" style="padding-top: 70px;margin-top: -60px;">{{summary}}</h2>
                          <form class="path-form" data-path="{{@../key}}" data-method="{{@key}}">
                          <h3 class="{{@key}}">
                            <span class="http_method">
                                <a href="#{{summary}}">{{@key}}</a>
                            </span>
                            <span class="path">
                                <a href="#{{summary}}">{{@../key}}</a>
                            </span>
                          </h3>
                          <h6 id="{{description}}">{{description}}</h6>
                          {{#if parameters}}
                            <h5>Parameters</h5>
                            {{#each parameters}}
                              <div class="form-group" data-schema="{{json schema}}">
                              <label>{{name}}:</label>
                              {{#if schema.$ref}}
                                <textarea class="form-control" rows="3" style="width: 300px;" name="{{this.name}}" placeholder="{{#if this.required}}required{{/if}}" {{#if this.required}}required{{/if}}></textarea>
                              {{else}}
                                <input type="text" class="form-control" style="width: 300px;" name="{{this.name}}" placeholder="{{#if this.required}}required{{/if}}" {{#if this.required}}required{{/if}}>
                              {{/if}}
                              </div>
                            {{/each}}
                          {{/if}}
                          <p class="operations">Test this endpoint</p>
                          <input type="submit" class="btn btn-primary endpoint" value="Try"/>
                          <h5>Response Messages</h5>
                          {{#each responses}}
                            <p style="display:none;" data-t="{{json this}}"></p>
                            {{@key}} - {{description}}<br>
                          {{/each}}
                        </form>
                      </div>
                      <div class="col-sm-6 col-md-6 schemas">
                          <a class="show-samples" href="javascript:;" data-parameters="{{#if parameters}}{{json parameters}}{{/if}}" data-responses="{{#if responses}}{{json responses}}{{/if}}" >Show samples</a>
                          <br>
                          <div style="display:none;" class="samples">samples:<pre></pre></div>
                          <div style="display:none;" class="schemas">schemas:<pre></pre></div>
                      </div>
                    </div>
                    <hr style="margin-bottom: 0px;">
                  </li>
                  {{/each}}
                </ul>
                {{/each}}
              {{/each}}
            </div>
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
  <!-- 创建项目 -->
  <div class="modal fade" id="importApiModal" tabindex="-1" role="dialog" aria-labelledby="importApiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/applications/importAPI" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="importApiModalLabel">
            上传API接口文件
          </h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_id" value="{{aid}}">
           接口文件：<input type="file" name="apifile" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            上传
          </button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
</div>
