{{> header}}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <a style="text-decoration: none;" data-toggle="modal" data-target="#createProjectModal" href="#">新建项目</a>
      <hr>
      <ul class="nav nav-sidebar">
        {{#each projects}}
          <li><a href="/projects?id={{this.id}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="page-header">
        应用列表
        {{#if applications}}
        <a style="float:right;font-size:14px;line-height:40px;" data-toggle="modal" data-target="#createApplicationModal" href="#">新建应用</a>
        {{/if}}
      </h3>
      <div class="row placeholders">
        {{#if applications}}
          {{#each applications}}
            <a href="/applications?id={{this.id}}">
              <div class="col-xs-6 col-sm-3 placeholder">
                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjxnPjx0ZXh0IHg9Ijc0LjA1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0ZGRkZGRjtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
                <h4>{{this.name}}</h4>
                <span class="text-muted">{{this.tag}}</span>
              </div>
            </a>
          {{/each}}
        {{else}}
          {{#if _id}}
            该项目未创建应用，现在<a data-toggle="modal" data-target="#createApplicationModal" href="#">新建应用</a>
          {{else}}
            请选择项目进行应用管理。
          {{/if}}
        {{/if}}
      </div>
    </div>

  </div>

  <!-- 创建项目 -->
  <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/projects" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="createProjectModalLabel">
            新建项目
          </h4>
        </div>
        <div class="modal-body">
           名  称：<input type="text" name="name" />
           Tag：<input type="text" name="tag" /><br>
           创建人：<input type="text" name="creator" /><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            提交
          </button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <!-- 创建应用 -->
  <div class="modal fade" id="createApplicationModal" tabindex="-1" role="dialog" aria-labelledby="createApplicationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/applications" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="createApplicationModalLabel">
            新建应用
          </h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="projectId" value="{{_id}}">
           名  称：<input type="text" name="name" />
           Tag：<input type="text" name="tag" /><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            提交
          </button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

</div>
<link href="./stylesheets/dashboard.css" rel="stylesheet">
