{{> header}}
<style type="text/css">
.body-main{
  background-color: #f0f4fb;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row placeholders">
        <div class="row">
          <div class="col-sm-12">
            <div class="project-header">
              <button type="button" class="btn new-project">新建项目</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="project-manager">
            {{#each projects}}
              <div class="col-md-3">
                <div class="project">
                  <div class="project-title">{{name}}</div>
                  <div class="project-owner">{{owner}}</div>
                  <div class="project-env">
                    {{#each env_json}}
                      <a class="btn btn-xs {{name}} env-app" href="javascript:;" data-env="{{name}}" data-domain="{{domain}}" data-id="{{../_id}}">
                        {{#equals name "dev"}}开发{{/equals}}
                        {{#equals name "test"}}测试{{/equals}}
                        {{#equals name "pre"}}预发{{/equals}}
                        {{#equals name "prod"}}生产{{/equals}}
                      </a>
                    {{/each}}
                  </div>
                  <div class="project-action"><a href="javascript:;" class="iconfont icon-bianji edit-project" data-id="{{_id}}"></a><a href="javascript:;" class="iconfont icon-shanchu del-project" style="color: #f15252;" data-id="{{_id}}"></a></div>
                </div>
              </div>
            {{/each}}
          </div>
          <div id="tableList"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/project.js"></script>
