{{> header}}
<style type="text/css">
.body-main{
  background-color: #f5f5f5;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h3 class="page-header" style="margin:0;border:none;">
        <button type="button" class="btn new-project" data-toggle="modal" data-target="#createProjectModal">New project</button>
      </h3>
      <div class="row placeholders">
        <div class="row">
          {{#each projects}}
            <div class="col-md-3">
              <div class="project" data-this="{{this}}">
                <div class="project-title">{{name}}</div>
                <div class="project-owner">{{owner}}</div>
                <div class="project-env" data-this="{{env_json}}">
                  {{#each env_json}}
                    <a class="btn btn-xs {{name}} env-app" href="javascript:;" data-env="{{name}}" data-domain="{{domain}}" data-id="{{../_id}}">{{name}}</a>
                  {{/each}}
                  <!-- <a class="btn btn-xs prod" href="javascript:;" >生产</a>
                  <a class="btn btn-xs pre" href="javascript:;" >预发</a>
                  <a class="btn btn-xs test" href="javascript:;" >测试</a>
                  <a class="btn btn-xs dev" href="javascript:;" >开发</a> -->
                </div>
                <div class="project-action"><a href="javascript:;" class="iconfont icon-bianji edit-project" data-id="{{_id}}"></a><a href="javascript:;" class="iconfont icon-shanchu del-project" data-id="{{_id}}"></a></div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 创建项目 -->
<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/projects" method="post" class="create-project-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" style="color: #8895B4;">
          Add new project
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label style="width: 60px;">Name：</label>
          <input type="text" class="form-control" placeholder="Name..." name="name" required>
        </div>
        <!-- <div class="form-group">
          <label style="width: 60px;">Owner：</label>
          <input type="text" class="form-control" placeholder="Owner..." name="owner" required>
        </div> -->
        <div class="form-group evniroment">
          <label style="float: left;margin-top: 15px;">Enviroment：</label>
          <div style="float: left;">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="dev" value="1" checked/>
                <span>Development</span>
                <input type="text" class="form-control" placeholder="Ddomain..." name="dev_domain">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="test" value="1" checked/>
                <span>Test</span>
                <input type="text" class="form-control" name="test_domain">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="pre" value="1" checked/>
                <span>Pre-publish</span>
                <input type="text" class="form-control" name="pre_domain">
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="prod" value="1" checked/>
                <span>Publish</span>
                <input type="text" class="form-control" name="prod_domain">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-sm btn-primary" value="Add"/>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- 选择应用 -->
<div class="modal fade" id="selectApplicationModal" tabindex="-1" role="dialog" aria-labelledby="selectApplicationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 540px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" style="color: #8895B4;">
          Applications
        </h4>
      </div>
      <div class="modal-body">
        <ul class="modal-app-title">
          <li><a href="#">terminus</a></li>
          <li><a href="#">jidd</a></li>
          <li><a href="#">wechat</a></li>
          <li><a href="#">何海洋</a></li>
          <li><a href="#">你好帅你好帅你好帅你好帅</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- 创建应用 -->
<div class="modal fade" id="createApplicationModal" tabindex="-1" role="dialog" aria-labelledby="createApplicationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/applications" method="post" class="create-application-form" enctype="multipart/form-data">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          新建应用
        </h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="projectId" value="{{pid}}">
        <div class="form-group">
          <label>应用名称</label>
          <input type="text" class="form-control" placeholder="请填写应用名称" name="name" required>
        </div>
        <div class="form-group">
          <label>应用备注</label>
          <input type="text" class="form-control" placeholder="请填写应用备注" name="tag">
        </div>
        <div class="form-group">
          <label>应用图标</label>
          <input type="file" name="appAvatar">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭
        </button>
        <button type="submit" class="btn btn-sm btn-primary">
          提交
        </button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<div class="modal fade server-modal" id="server-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/codegen/gen-by-file" method="post" class="code-gen" enctype="multipart/form-data" target="myiframe">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    生成服务端
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>API-JSON</label>
                    <input type="file" name="apiJson">
                </div>
                <div class="form-group">
                    <label>选择语言</label>
                    <select name="type">
                        <option value="spring">Spring</option>
                        <option value="nodejs-server">NodeJs</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-sm btn-primary">
                    提交
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<link href="./stylesheets/dashboard.css" rel="stylesheet">
<script type="text/javascript" src="../javascripts/project.js"></script>
