{{> header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>AppId</td>
                        <td>Path</td>
                        <td>Author</td>
                        <td>Action</td>
                        <td>UpdateTime</td>
                        <td>Detail</td>
                    </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{applicationId}}</td>
                        <td>{{path}}</td>
                        <td>{{author}}</td>
                        <td>{{action}}</td>
                        <td>{{createdAt}}</td>
                        <td>detail</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="./stylesheets/dashboard.css" rel="stylesheet">
<script type="text/javascript" src="../javascripts/project.js"></script>