{{> header}}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <a style="text-decoration: none;" href="/applications?id={{aid}}"><< 返回接口文档</a>
      <hr>
      <ul class="nav nav-sidebar">
        {{#each paths}}
          {{#each path_json}}
          <li><a href="/paths?aid={{../../aid}}&id={{../_id}}" title="{{@key}}">{{@key}}</a></li>
          {{/each}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="page-header">
        接口详情
      </h3>

      <div class="row">
        {{#each path.path_json}}
        <h2>{{@key}}</h2><br><br>
          {{#each this}}
            <h3>{{@key}}<h3>
            <h5>Parameters</h5>
            {{#each parameters}}
              {{this.name}} - <input type="text" name="{{this.name}}">{{this.type}}<br>
            {{/each}}
            Test this endpoint
            <a href="#">Try</a>
            <h5>Response Messages</h5>
            {{#each responses}}
            {{@key}} - {{description}}<br>
            {{/each}}
            <h5>Consumes</h5>
            {{consumes}}

            <!--
            <h5>Produces</h5>
            {{produces}}
            <h5>OperationId</h5>
            {{operationId}}
            <h5>Summary</h5>
            {{summary}}
            <h5>Tags</h5>
            {{tags}} -->

            <hr>
          {{/each}}
        {{/each}}
      </div>

    </div>
  </div>

  <!-- 创建项目 -->
  <div class="modal fade" id="importApiModal" tabindex="-1" role="dialog" aria-labelledby="importApiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/applications/importAPI" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="importApiModalLabel">
            上传API接口文件
          </h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_id" value="{{_id}}">
           接口文件：<input type="file" name="apifile" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            上传
          </button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

</div>
<link href="../stylesheets/dashboard.css" rel="stylesheet">
